.Pokeball_container {
    position: absolute;
    top: 5%;
    left: 1%;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.Pokeball_inactive {
    filter: grayscale(100%);
    opacity: 0.5;
}

.Pokeball_icon {
    width: 100%;
    height: 100%;
}

.Pokeball_icon:hover  {
    animation: spin 0.25s;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}