.ProgressBar-Wrapper {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}


.ProgressBar-Label {
    width: 200px;
    margin: 0;
    /* width: fit-content; */
    background-color: #FFFFFF;
    /* border: 2px solid red; */
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    margin: 3px;
}


.inner {
    height: 100%;
    background: red;
  
}

.outer {
    background: blue;
}
