.card {
    position: relative;
    min-height: 100px;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    margin: 5px;
    border-radius: 15px !important;

    overflow: hidden;
    box-shadow: 2px 2px 4px #00000030;
    padding: 10px;
}

.id  { 
    
}

.Card_name { 
    font-weight: bold;
}

.Card_types {
    display: flex;
    justify-content: space-evenly;
}

.shine {
    position: absolute;
    top: -80%;
    left: -20%;
    width: 90%;
    height: 200%;
    background: linear-gradient(#FFF, transparent);
    opacity: 0.6;
    border-radius: 50%;
}

.card:hover {
    opacity: 1;
    /* transform: scale(1.02); */
    box-shadow: 2px 2px 3px #00000050;
}
.card:hover .id,
.card:hover .name {
    font-weight: bold;
}



.card:hover .sprite img {
    animation: jump 0.75s infinite;
}
@keyframes jump {
    0% {
        transform: translate3d(0, 0, 0);
        animation-timing-function: ease-in;
    }

    50% {
        transform: translate3d(0, -10px, 0);
        animation-timing-function: ease-out;
    }

    100% { 
        transform: translate3d(0, 0, 0);
        text-shadow: none;
    }
}