.ProgressBar-Wrapper {
    /* width: 50%; */
    display: flex;
    flex-direction: row;
    align-items: center;

}


.ProgressBar-Label {
    width: 200px;
    margin: 0;
    background-color: #FFFFFF;
    margin: 3px;
    text-align: center;
    opacity: 0.5;
    text-transform: capitalize;
}


.inner {
    height: 100%;
    border-radius: 15px;

}

.outer {
    border-radius: 15px;


}
