.app {
    display: flex;
    /* max-width: 1280px;
    max-height: 720px; */
    overflow-y: scroll;


    margin-top: 20px;;


    /* border-radius: 20px; */
}

.sidebar {
    transform: translateX(5px);
    border-right: 5px solid #00000070;
}

.nav-link {
    display: flex;
    text-decoration: none;
    color: red;
}


::-webkit-scrollbar {
    visibility: hidden;
}