.app {
    display: flex;
}

.sidebar {
    width: 20%;
    height: 100%;
    min-height: 100vh;
    border-right: 5px solid red;
}

.nav-link {
    display: flex;
    text-decoration: none;
    color: red;
}

.content {
    padding: 10px;
}